<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: cursive;">Shoseki</strong>
        </p>
        <p>
          <strong class="is-size-6" style="font-family: cursive;">本と「出会って」「読んで」「話して」　あなただけのshosekiを共有しよう</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <p>▼すぐログインいただけます▼</p>
          <%= link_to "ゲストログイン(閲覧用)", homes_guest_sign_in_path, method: :post, class: "button is-info is-fullwidth" %>
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-success is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-success is-fullwidth" %>
        </div>
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>